In [ ]:
import pandas as pd
data = pd.read_csv('sentiment.csv')

In [3]:
data

,Unnamed: 0,Emotion,Text,Clean_Text
0,0,neutral,Why ?,NaN
1,1,joy,Sage Act upgrade on my to do list for tommorow.,Sage Act upgrade list tommorow
2,2,sadness,ON THE WAY TO MY HOMEGIRL BABY FUNERAL!!! MAN ...,WAY HOMEGIRL BABY FUNERAL MAN HATE FUNERALS SH...
3,3,joy,Such an eye ! The true hazel eye-and so brill...,eye true hazel eyeand brilliant Regular feat...
4,4,joy,@Iluvmiasantos ugh babe.. hugggzzz for u .! b...,ugh babe hugggzzz u babe naamazed nga ako e...
...,...,...,...,...
34788,34788,joy,The world didnt give it to me..so the world MO...,world didnt meso world DEFINITELY cnt away
34789,34789,anger,A man robbed me today .,man robbed today
34790,34790,fear,"Youu call it JEALOUSY, I call it of #Losing YO...",Youu JEALOUSY #Losing YOU
34791,34791,sadness,"I think about you baby, and I dream about you ...",think baby dream time
34792,34792,sadness,not happy,NaN

In [4]:
data.Emotion.unique()

array(['neutral', 'joy', 'sadness', 'fear', 'surprise', 'anger', 'shame',
       'disgust'], dtype=object)

In [5]:
# Define the mapping dictionary
mapping = {'neutral': 1, 'joy': 2, 'sadness': 3, 'fear': 4, 'surprise': 5, 'anger': 6, 'shame': 7, 'disgust': 8}

# Create a new column 'sentiment' using the mapping
data['sentiment'] = data['Emotion'].map(mapping)

In [6]:
data

,Unnamed: 0,Emotion,Text,Clean_Text,sentiment
0,0,neutral,Why ?,NaN,1
1,1,joy,Sage Act upgrade on my to do list for tommorow.,Sage Act upgrade list tommorow,2
2,2,sadness,ON THE WAY TO MY HOMEGIRL BABY FUNERAL!!! MAN ...,WAY HOMEGIRL BABY FUNERAL MAN HATE FUNERALS SH...,3
3,3,joy,Such an eye ! The true hazel eye-and so brill...,eye true hazel eyeand brilliant Regular feat...,2
4,4,joy,@Iluvmiasantos ugh babe.. hugggzzz for u .! b...,ugh babe hugggzzz u babe naamazed nga ako e...,2
...,...,...,...,...,...
34788,34788,joy,The world didnt give it to me..so the world MO...,world didnt meso world DEFINITELY cnt away,2
34789,34789,anger,A man robbed me today .,man robbed today,6
34790,34790,fear,"Youu call it JEALOUSY, I call it of #Losing YO...",Youu JEALOUSY #Losing YOU,4
34791,34791,sadness,"I think about you baby, and I dream about you ...",think baby dream time,3
34792,34792,sadness,not happy,NaN,3

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(data.Text,data.sentiment, test_size = 0.25)

In [8]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
x_train_count = v.fit_transform(x_train.values)
# x_train_count.toarray()[:3]

In [9]:
x_train_count

<26094x31374 sparse matrix of type '<class 'numpy.int64'>'
	with 353922 stored elements in Compressed Sparse Row format>

In [10]:
from sklearn.svm import SVC

In [11]:
svm_classifier = SVC(kernel='linear', C=1.0)

In [ ]:
svm_classifier.fit(x_train_count, y_train)

In [12]:
def predict(text):
    texts = []
    texts.append(text)
    text_count = v.transform(texts)
    results = svm_classifier.predict(text_count)
    emotions = ['neutral', 'joy', 'sadness', 'fear', 'surprise', 'anger', 'shame', 'disgust']
    print(emotions[results[0]-1])

In [16]:
x_test_count = v.transform(x_test)
y_pred = svm_classifier.predict(x_test_count)

In [21]:
predict("This is not what I expected this from  you")
# SVM wins

surprise

In [56]:
predict('''
I have never given my reviews for any movie whether I liked it or not as I feel itâ€™s just a movie  but this time I couldnâ€™t 
resist myself as the facts have been distorted and it looks like mockery of our religion and mythology. Seriously nothing has
offended me so much the way this movie has. 
''')
# SVM wins

anger

In [24]:
predict("Trust yourself, trust your power â€“ that's how you stop it.")
# SVM wins

neutral

In [31]:
predict("Her eyes glistened with unshed tears as she watched the sunset")  
# NB wins

joy

In [39]:
predict("And then suddenly I heard a screaming voice")
# SVM wins

fear

In [55]:
predict("I don't intend to be negative, but I believe that the 8.9 rating on IMDb for Avengers: Infinity War is entirely unjustified.")

fear